Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
bin/
obj/
Debug/
Release/
*.lib
*.sbr
_ReSharper*/
[Tt]est[Rr]esult*
packages/
acrjs.js
*.nupkg
_dotCover*/
*.DotSettings